<footer class="final-footer">
    <div class="container">
        <nav>
            <ul>
              <li>
                <a href="#">
                    Home
                </a>
             </li>
            <li>
                <a href="#">
                    Company
                </a>
            </li>
            <li>
                <a href="#">
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                   Blog
                </a>
            </li>
        </ul>
    </nav>
    <p>
        &copy; <script>document.write(new Date().getFullYear())</script> <a class="text-warning" href="www.mutidesign.com">Muti Design</a>, made with love for a better web
    <p>
  </div>
</footer><!--footer-->