<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">Examples</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/history/">About</a></li>
    </ul>
    <p>&copy; <script>document.write(new Date().getFullYear())</script> <a class="text-warning" href="https://www.mutidesign.com">Muti Design</a>, made with love for a better web.</p>

    <p>Currently v{{ site.current_version }}. Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>.</p>
  </div>
</footer>
