
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Hermes-Dashboard</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--  Bootstrap core CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ path-assets}}/assets/css/bootstrap.min.css">

  <!--  Hermes Dashboard CSS    -->
  <link rel="stylesheet" type="text/css" href="{{ path-assets}}/assets/css/hd.min.css">

  <!--  Fonts and Icons   -->
  <link rel="stylesheet" type="text/css" href="{{ path-assets}}/assets/css/hermes-icons.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lobster|Montserrat:400,500,600' rel='stylesheet' type='text/css'>
