<nav class="navbar navbar-expand-md">
				 <button class="navbar-toggler d-sm-block d-lg-none" type="button" data-toggle="collapse"  aria-expanded="false" aria-label="Toggle navigation">
				   	<i class="fa fa-bars"></i>
				  </button>
				  <div class="collapse navbar-collapse">
				  	<ul class="nav navbar-nav navbar-left">
				  		<div class="input-group">
				  			<div class="input-group-addon"><i class="fa fa-search"></i></div>
	    					<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search anything you want">
				  		</div>
				  	</ul><!--navbar left-->

				  	<ul class="navbar-nav ml-auto">

				  		<li class="nav-item dropdown">
				  			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
					  			<div class="notification d-none d-lg-block d-xl-block"></div>
				  				<i class="nc-icon nc-notification-70"></i>
				  				<b class="caret d-none d-lg-block d-xl-block"></b>

					  			<p class="d-lg-none">
									New Notifications
									<b class="caret"></b>
								</p>
				  			</a>
				  			<ul class="dropdown-menu">
				  				<li><a href="#"  class="dropdown-item">Notification 1</a></li>
	                            <li><a href="#" class="dropdown-item">Notification 2</a></li>
	                            <li><a href="#" class="dropdown-item">Notification 3</a></li>
	                            <li><a href="#" class="dropdown-item">Notification 4</a></li>
	                            <li><a href="#" class="dropdown-item">Another Notification</a></li>
				  			</ul>
				  		</li>

				  		<li class="nav-item">
				  			<a href="#" class="nav-link">
				  				<i class="nc-icon nc-map-big"></i>
				  				<p class="d-lg-none">Contacts</p>
				  			</a>
				  		</li>

				  		<li class="nav-item">
				  			<a href="#" class="nav-link">
				  				<i class="nc-icon nc-bell-55"></i>
				  				<p class="d-lg-none">Messages</p>
				  			</a>
				  		</li>

				  		<li class="dropdown nav-item">
				  			<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
		  					<i class="nc-icon nc-circle-08"></i>
		  					<b class="caret d-none d-lg-block d-xl-block"></b>
		  					<p class="d-lg-none">
									Log out
									<b class="caret"></b>
								</p>
				  			</a>
				  			<ul class="dropdown-menu menu-2">
				  				<li><a href="#">Action</a></li>
	                            <li><a href="#">Another action</a></li>
	                            <li><a href="#">Something</a></li>
	                            <li><a href="#">Another action</a></li>
	                            <li><a href="#">Something</a></li>
	                            <li class="divider"></li>
	                            <li><a href="#">Separated link</a></li>
				  			</ul>
				  		</li>
				  		<li class="separator d-lg-none"></li>
				  	</ul><!--navbar right-->
				  </div>
				</nav>