<div class="page-header" data-color="{{ page.color }}" data-image="{{ path-assets}}/assets/img/freedom.jpg">


				<div class="info">
					<div class="container">
						<div class="row">
						{% if page.brand == "Dashboard" %}
							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$145.00</h4>
								<h6 class="info-category text-center">Last Transfer</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$785.00</h4>
								<h6 class="info-category text-center">Next Transfer</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">36</h4>
								<h6 class="info-category text-center">Total Customers</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$23.00</h4>
								<h6 class="info-category text-center">Total Volume</h6>
							</div>


							{% elsif page.brand == "User Page" %}

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$325.00</h4>
								<h6 class="info-category text-center">Total Acquisitions</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$1680.00</h4>
								<h6 class="info-category text-center">Salary</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">21</h4>
								<h6 class="info-category text-center">Employees</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$320.00</h4>
								<h6 class="info-category text-center">Money Spent</h6>
							</div>

							{% elsif page.brand == "Regular Tables" %}

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$65,600</h4>
								<h6 class="info-category text-center">Every Year</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$5,460</h4>
								<h6 class="info-category text-center">Every Month</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">120</h4>
								<h6 class="info-category text-center">Contribuitors</h6>
							</div>

							<div class="col-sm-3 col-6">
								<h4 class="info-title text-center">$23.00</h4>
								<h6 class="info-category text-center">Each Day</h6>
							</div>

							{% elsif page.brand == "Full Screen Map" %}

							<div class="col-sm-3 col-6" >
								<h4 class="info-title text-center">7.300.000.000</h4>
								<h6 class="info-category text-center">Population</h6>
							</div>

							<div class="col-sm-3 col-6" >
								<h4 class="info-title text-center">7</h4>
								<h6 class="info-category text-center">Continents</h6>
							</div>

							<div class="col-sm-3 col-6"> 
								<h4 class="info-title text-center">195</h4>
								<h6 class="info-category text-center">States</h6>
							</div>

							<div class="col-sm-3 col-6" >
								<h4 class="info-title text-center">4.570.000.000</h4>
								<h6 class="info-category text-center">Age of Terra</h6>
							</div>

							{% endif %}
						</div>
					</div>
				</div>
			</div><!--page-header-->