<div class="sidebar">
			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="#">
						Hermes
					</a>
				</div><!--logo-->

				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link nav-link-blue {% if page.brand == "Dashboard" %} active {% endif %}" href="{{ path-pages }}/dashboard.html" >
							<i class="nc-icon nc-bullet-list-67"></i>
							<p>Dashboard</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{{ path-pages }}/user.html" class="nav-link nav-link-light-blue {% if page.brand == "User Page" %} active {% endif %}">
							<i class="nc-icon nc-badge"></i>
							<p>User Profile</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{{ path-pages}}/table.html" class="nav-link nav-link-pink {% if page.brand == "Table List" %} active {% endif %}">
							<i class="nc-icon nc-calendar-grid-58"></i>
							<p>Table List</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{{path-pages}}/typography.html" class="nav-link nav-link-orange {% if page.brand=="Typography" %} active {% endif %}">
							<i class="nc-icon nc-book-bookmark"></i>
							<p>Typography</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{{ path-pages }}/icons.html" class="nav-link nav-link-purple {% if page.brand == "Icons" %} active {% endif %}">
							<i class="nc-icon nc-palette"></i>
							<p>Icons</p>
						</a>
					</li>

 					<li class="nav-item">
						<a href="{{path-pages}}/maps.html"  class="nav-link nav-link-red {% if page.brand =="Maps" %} active {% endif %}">
							<div class="i">
							<i class="nc-icon nc-pin-3"></i>
							</div>
							<p>Maps</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{{ path-pages }}/notifications.html" class="nav-link nav-link-green {% if page.brand == "Notifications" %} active {% endif %}">
							<i class="nc-icon nc-bell-55"></i>
							<p>Notifications</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{{ path-pages}}/components.html" class="nav-link nav-link-dark-red {% if page.brand == "Components" %} active {% endif %}">
							<i class="nc-icon nc-chart-pie-35"></i>
							<p>Components</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{{path-pages}}/cards.html" class="nav-link nav-link-light-purple {% if page.brand == "Cards" %} active {% endif %}">
							<i class="nc-icon nc-credit-card"></i>
							<p>Cards</p>
						</a>
					</li>
				</ul>
			</div><!--sidebar-wrapper-->
		</div><!--sidebar-->