/*--------------------------------

hermes-dashboard-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */

@font-face {
    font-family: 'hermes-dashboard-icons';
    src: url('../fonts/hermes-dashboard-icons.eot');
    src: url('../fonts/hermes-dashboard-icons.eot') format('embedded-opentype'), url('../fonts/hermes-dashboard-icons.woff2') format('woff2'), url('../fonts/hermes-dashboard-icons.woff') format('woff'), url('../fonts/hermes-dashboard-icons.ttf') format('truetype'), url('../fonts/hermes-dashboard-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*------------------------
	base class definition
-------------------------*/

.nc-icon {
    display: inline-block;
    font: normal normal normal 14px/1 'hermes-dashboard-icons';
    font-size: inherit;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*------------------------
  change icon size
-------------------------*/

.nc-icon.lg {
    font-size: 1.33333333em;
    vertical-align: -16%;
}

.nc-icon.x2 {
    font-size: 2em;
}

.nc-icon.x3 {
    font-size: 3em;
}


/*----------------------------------
  add a square/circle background
-----------------------------------*/

.nc-icon.square,
.nc-icon.circle {
    padding: 0.33333333em;
    vertical-align: -16%;
    background-color: #eee;
}

.nc-icon.circle {
    border-radius: 50%;
}


/*------------------------
  list icons
-------------------------*/

.nc-icon-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.nc-icon-ul>li {
    position: relative;
}

.nc-icon-ul>li>.nc-icon {
    position: absolute;
    left: -1.57142857em;
    top: 0.14285714em;
    text-align: center;
}

.nc-icon-ul>li>.nc-icon.lg {
    top: 0;
    left: -1.35714286em;
}

.nc-icon-ul>li>.nc-icon.circle,
.nc-icon-ul>li>.nc-icon.square {
    top: -0.19047619em;
    left: -1.9047619em;
}


/*------------------------
  spinning icons
-------------------------*/

.nc-icon.spin {
    -webkit-animation: nc-icon-spin 2s infinite linear;
    -moz-animation: nc-icon-spin 2s infinite linear;
    animation: nc-icon-spin 2s infinite linear;
}

@-webkit-keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes nc-icon-spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*------------------------
  rotated/flipped icons
-------------------------*/

.nc-icon.rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nc-icon.rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nc-icon.rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.nc-icon.flip-y {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.nc-icon.flip-x {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
}


/*------------------------
	font icons
-------------------------*/

.nc-active-40::before {
    content: "\ea02";
}

.nc-air-baloon::before {
    content: "\ea03";
}

.nc-album-2::before {
    content: "\ea04";
}

.nc-align-center::before {
    content: "\ea05";
}

.nc-align-left-2::before {
    content: "\ea06";
}

.nc-ambulance::before {
    content: "\ea07";
}

.nc-app::before {
    content: "\ea08";
}

.nc-archive-2::before {
    content: "\ea09";
}

.nc-atom::before {
    content: "\ea0a";
}

.nc-badge::before {
    content: "\ea0b";
}

.nc-bag-17::before {
    content: "\ea0c";
}

.nc-basket::before {
    content: "\ea0d";
}

.nc-bell-55::before {
    content: "\ea0e";
}

.nc-bold-down::before {
    content: "\ea0f";
}

.nc-bold-left::before {
    content: "\ea10";
}

.nc-bold-right::before {
    content: "\ea11";
}

.nc-bold-up::before {
    content: "\ea12";
}

.nc-bold::before {
    content: "\ea13";
}

.nc-book-bookmark::before {
    content: "\ea14";
}

.nc-books::before {
    content: "\ea15";
}

.nc-box-2::before {
    content: "\ea16";
}

.nc-briefcase-24::before {
    content: "\ea17";
}

.nc-building::before {
    content: "\ea18";
}

.nc-bulb-61::before {
    content: "\ea19";
}

.nc-bullet-list-67::before {
    content: "\ea1a";
}

.nc-bus-front-12::before {
    content: "\ea1b";
}

.nc-button-pause::before {
    content: "\ea1c";
}

.nc-button-play::before {
    content: "\ea1d";
}

.nc-button-power::before {
    content: "\ea1e";
}

.nc-calendar-grid-58::before {
    content: "\ea1f";
}

.nc-camera-compact::before {
    content: "\ea20";
}

.nc-caps-small::before {
    content: "\ea21";
}

.nc-cart::before {
    content: "\ea22";
}

.nc-chart-bar-32::before {
    content: "\ea23";
}

.nc-chart-pie-35::before {
    content: "\ea24";
}

.nc-chat-round::before {
    content: "\ea25";
}

.nc-check-bold::before {
    content: "\ea26";
}

.nc-circle-08::before {
    content: "\ea27";
}

.nc-cloud-download-95::before {
    content: "\ea28";
}

.nc-cloud-upload-96::before {
    content: "\ea29";
}

.nc-compass-04::before {
    content: "\ea2a";
}

.nc-controller::before {
    content: "\ea2b";
}

.nc-credit-card::before {
    content: "\ea2c";
}

.nc-curved-next::before {
    content: "\ea2d";
}

.nc-delivery-fast::before {
    content: "\ea2e";
}

.nc-diamond::before {
    content: "\ea2f";
}

.nc-email-83::before {
    content: "\ea30";
}

.nc-fat-add::before {
    content: "\ea31";
}

.nc-fat-delete::before {
    content: "\ea32";
}

.nc-fat-remove::before {
    content: "\ea33";
}

.nc-favourite-28::before {
    content: "\ea34";
}

.nc-folder-17::before {
    content: "\ea35";
}

.nc-glasses-2::before {
    content: "\ea36";
}

.nc-hat-3::before {
    content: "\ea37";
}

.nc-headphones::before {
    content: "\ea38";
}

.nc-html5::before {
    content: "\ea39";
}

.nc-istanbul::before {
    content: "\ea3a";
}

.nc-key-25::before {
    content: "\ea3b";
}

.nc-laptop::before {
    content: "\ea3c";
}

.nc-like-2::before {
    content: "\ea3d";
}

.nc-lock-circle-open::before {
    content: "\ea3e";
}

.nc-map-big::before {
    content: "\ea3f";
}

.nc-mobile-button::before {
    content: "\ea40";
}

.nc-money-coins::before {
    content: "\ea41";
}

.nc-note-03::before {
    content: "\ea42";
}

.nc-notification-70::before {
    content: "\ea43";
}

.nc-palette::before {
    content: "\ea44";
}

.nc-paper-diploma::before {
    content: "\ea45";
}

.nc-pin-3::before {
    content: "\ea46";
}

.nc-planet::before {
    content: "\ea47";
}

.nc-ruler-pencil::before {
    content: "\ea48";
}

.nc-satisfied::before {
    content: "\ea49";
}

.nc-scissors::before {
    content: "\ea4a";
}

.nc-send::before {
    content: "\ea4b";
}

.nc-settings-gear-65::before {
    content: "\ea4c";
}

.nc-settings::before {
    content: "\ea4d";
}

.nc-single-02::before {
    content: "\ea4e";
}

.nc-single-copy-04::before {
    content: "\ea4f";
}

.nc-sound-wave::before {
    content: "\ea50";
}

.nc-spaceship::before {
    content: "\ea51";
}

.nc-square-pin::before {
    content: "\ea52";
}

.nc-support-16::before {
    content: "\ea53";
}

.nc-tablet-button::before {
    content: "\ea54";
}

.nc-tag::before {
    content: "\ea55";
}

.nc-tie-bow::before {
    content: "\ea56";
}

.nc-time-alarm::before {
    content: "\ea57";
}

.nc-trophy::before {
    content: "\ea58";
}

.nc-tv-2::before {
    content: "\ea59";
}

.nc-umbrella-13::before {
    content: "\ea5a";
}

.nc-user-run::before {
    content: "\ea5b";
}

.nc-vector::before {
    content: "\ea5c";
}

.nc-watch-time::before {
    content: "\ea5d";
}

.nc-world::before {
    content: "\ea5e";
}

.nc-zoom-split-in::before {
    content: "\ea5f";
}

.nc-collection::before {
    content: "\ea60";
}

.nc-image::before {
    content: "\ea61";
}

.nc-shop::before {
    content: "\ea62";
}

.nc-ungroup::before {
    content: "\ea63";
}

.nc-world-2::before {
    content: "\ea64";
}

.nc-ui-04::before {
    content: "\ea65";
}


/* all icon font classes list here */