<!doctype html>
<html lang="en">
<head>

{% include path/path-assets.html %}
{% include header.html %}

</head>

<body>
	<div class="wrapper">

	    {% include sidebar.html %}

	    <div class="main-panel">

	    	{% include navbar.html %}
	    	{% include page-header.html %}

	    <div class="content">

	    	<div class="card main over-header" data-color="{{ page.data-color }}">

	    		{{ content }}

	    	</div>

	    </div>

	    {% include footer.html %}

	    </div>

	</div>

</body>

	{% include js/script.html %}

</html>
